<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Reports</title>
	<style id="applicationStylesheet" type="text/css">
		.mediaViewInfo {
			--web-view-name: Clinic Home Page;
			--web-view-id: Clinic_Home_Page;
			--web-scale-on-resize: true;
			--web-enable-deep-linking: true;
		}

		:root {
			--web-view-ids: Clinic_Home_Page;
		}

		* {
			margin: 0;
			padding: 0;
			box-sizing: border-box;
			border: none;
		}

		#Clinic_Home_Page {
			position: absolute;
			width: 100%;
			height: 100vh;
			background-color: rgba(255, 255, 255, 1);
			overflow: hidden;
			overflow-y: auto;
			--web-view-name: Clinic Home Page;
			--web-view-id: Clinic_Home_Page;
			--web-scale-on-resize: true;
			--web-enable-deep-linking: true;
		}

		#Group_139 {
			position: absolute;
			width: 1920.192px;
			height: 1787.682px;
			left: 1px;
			top: 0px;
			overflow: visible;
		}

		#Group_138 {
			position: absolute;
			width: 1920.192px;
			height: 1787.682px;
			left: 0px;
			top: 0px;
			overflow: visible;
		}

		#Group_140 {
			position: absolute;
			width: 1920.192px;
			height: 1787.682px;
			left: 0px;
			top: 0px;
			overflow: visible;
		}

		#Group_106 {
			position: absolute;
			width: 1920.192px;
			height: 1787.682px;
			left: 0px;
			top: 0px;
			overflow: visible;
		}

		#Group_75 {
			position: absolute;
			width: 1920.192px;
			height: 1787.682px;
			left: 0px;
			top: 0px;
			overflow: visible;
		}

		#Group_6 {
			position: absolute;
			width: 1920.192px;
			height: 1787.682px;
			left: 0px;
			top: 0px;
			overflow: visible;
		}

		#Group_1 {
			position: absolute;
			width: 1920.192px;
			height: 1787.682px;
			left: 0px;
			top: 0px;
			overflow: visible;
		}

		#Path_4 {
			fill: rgba(189, 192, 225, 1);
			stroke: rgba(189, 192, 225, 1);
			stroke-width: 1px;
			stroke-linejoin: miter;
			stroke-linecap: butt;
			stroke-miterlimit: 4;
			shape-rendering: auto;
		}

		.Path_4 {
			overflow: visible;
			position: absolute;
			width: 1920.034px;
			height: 88px;
			left: 0px;
			top: 0px;
			transform: matrix(1, 0, 0, 1, 0, 0);
		}

		#Path_5 {
			fill: rgba(189, 192, 225, 1);
			stroke: rgba(189, 192, 225, 1);
			stroke-width: 1px;
			stroke-linejoin: miter;
			stroke-linecap: butt;
			stroke-miterlimit: 4;
			shape-rendering: auto;
		}

		.Path_5 {
			overflow: visible;
			position: absolute;
			width: 1920.192px;
			height: 164.347px;
			left: 0px;
			top: 1623.335px;
			transform: matrix(1, 0, 0, 1, 0, 0);
		}

		#Image_1 {
			position: absolute;
			width: 106px;
			height: 68px;
			left: 12px;
			top: 10px;
			overflow: visible;
		}

		#Home {
			left: 667.017px;
			top: 25px;
			position: absolute;
			overflow: visible;
			width: 68px;
			white-space: nowrap;
			text-align: left;
			font-family: Segoe UI;
			font-style: normal;
			font-weight: normal;
			font-size: 25px;
			color: rgba(255, 255, 255, 1);
		}

		#About_Us {
			left: 900.017px;
			top: 25px;
			position: absolute;
			overflow: visible;
			width: 104px;
			white-space: nowrap;
			text-align: left;
			font-family: Segoe UI;
			font-style: normal;
			font-weight: normal;
			font-size: 25px;
			color: rgba(255, 255, 255, 1);
		}

		#Contact_Us {
			left: 1133.017px;
			top: 25px;
			position: absolute;
			overflow: visible;
			width: 121px;
			white-space: nowrap;
			text-align: left;
			font-family: Segoe UI;
			font-style: normal;
			font-weight: normal;
			font-size: 25px;
			color: rgba(255, 255, 255, 1);
		}

		#Welcome_Clinic_Name {
			left: 1800px;
			top: 20px;
			position: absolute;
			overflow: visible;
			width: 287px;
			white-space: nowrap;
			text-align: left;
			font-family: Segoe UI;
			font-style: normal;
			font-weight: normal;
			font-size: 25px;
			color: rgba(255, 255, 255, 1);
			text-decoration: none;
		}

		#Repeat_Grid_2 {
			position: absolute;
			width: 1270px;
			height: 90px;
			left: 390.5px;
			top: 1655.835px;
			overflow: hidden;
		}

		#Group {
			position: absolute;
			width: 165px;
			height: 90px;
			left: 0px;
			top: 0px;
			overflow: visible;
		}

		#Repeat_Grid_3 {
			position: absolute;
			width: 165px;
			height: 90px;
			left: 0px;
			top: 0px;
			overflow: hidden;
		}

		#Group_ {
			position: absolute;
			width: 101px;
			height: 66px;
			left: 1px;
			top: 1px;
			overflow: visible;
		}

		#How_It_Works_FAQ_Contact_Us {
			left: 0px;
			top: 0px;
			position: absolute;
			overflow: visible;
			width: 102px;
			white-space: nowrap;
			text-align: left;
			font-family: Segoe UI;
			font-style: normal;
			font-weight: normal;
			font-size: 17px;
			color: rgba(255, 255, 255, 1);
		}

		#Group_ba {
			position: absolute;
			width: 165px;
			height: 90px;
			left: 498px;
			top: 0px;
			overflow: visible;
		}

		#Repeat_Grid_3_ba {
			position: absolute;
			width: 165px;
			height: 90px;
			left: 0px;
			top: 0px;
			overflow: hidden;
		}

		#Group_bb {
			position: absolute;
			width: 123px;
			height: 66px;
			left: 1px;
			top: 1px;
			overflow: visible;
		}

		#Contact_Support_Help_Center_Us {
			left: 0px;
			top: 0px;
			position: absolute;
			overflow: visible;
			width: 124px;
			white-space: nowrap;
			text-align: left;
			font-family: Segoe UI;
			font-style: normal;
			font-weight: normal;
			font-size: 17px;
			color: rgba(255, 255, 255, 1);
		}

		#Group_bd {
			position: absolute;
			width: 165px;
			height: 90px;
			left: 996px;
			top: 0px;
			overflow: visible;
		}

		#Repeat_Grid_3_be {
			position: absolute;
			width: 165px;
			height: 90px;
			left: 0px;
			top: 0px;
			overflow: hidden;
		}

		#Group_bf {
			position: absolute;
			width: 162px;
			height: 88px;
			left: 1px;
			top: 1px;
			overflow: visible;
		}

		#Terms_and_Conditions_Privacy_P {
			left: 0px;
			top: 0px;
			position: absolute;
			overflow: visible;
			width: 163px;
			white-space: nowrap;
			text-align: left;
			font-family: Segoe UI;
			font-style: normal;
			font-weight: normal;
			font-size: 17px;
			color: rgba(255, 255, 255, 1);
		}

		#Copyright_-_Group_9_ {
			left: 886.671px;
			top: 1746.35px;
			position: absolute;
			overflow: visible;
			width: 148px;
			white-space: nowrap;
			text-align: left;
			font-family: Segoe UI;
			font-style: normal;
			font-weight: normal;
			font-size: 16px;
			color: rgba(255, 255, 255, 1);
		}

		#Path_62 {
			fill: rgba(255, 255, 255, 1);
		}

		.Path_62 {
			overflow: visible;
			position: absolute;
			width: 51.956px;
			height: 51.956px;
			left: 824.235px;
			top: 1665.611px;
			transform: matrix(1, 0, 0, 1, 0, 0);
		}

		#Group_27 {
			position: absolute;
			width: 36.368px;
			height: 51.956px;
			left: 1336.1px;
			top: 1665.611px;
			overflow: visible;
		}

		#Path_63 {
			fill: rgba(255, 255, 255, 1);
		}

		.Path_63 {
			overflow: visible;
			position: absolute;
			width: 36.368px;
			height: 51.956px;
			left: 0px;
			top: 0px;
			transform: matrix(1, 0, 0, 1, 0, 0);
		}

		#Path_64 {
			fill: rgba(255, 255, 255, 1);
		}

		.Path_64 {
			overflow: visible;
			position: absolute;
			width: 5.195px;
			height: 10.391px;
			left: 15.586px;
			top: 25.977px;
			transform: matrix(1, 0, 0, 1, 0, 0);
		}

		#Group_26 {
			position: absolute;
			width: 24px;
			height: 24px;
			left: 861.456px;
			top: 1745.567px;
			overflow: visible;
		}

		#Path_60 {
			fill: transparent;
		}

		.Path_60 {
			overflow: visible;
			position: absolute;
			width: 24px;
			height: 24px;
			left: 0px;
			top: 0px;
			transform: matrix(1, 0, 0, 1, 0, 0);
		}

		#Path_61 {
			fill: rgba(253, 253, 255, 1);
		}

		.Path_61 {
			overflow: visible;
			position: absolute;
			width: 20px;
			height: 20px;
			left: 2px;
			top: 2px;
			transform: matrix(1, 0, 0, 1, 0, 0);
		}

		#Path_74 {
			fill: rgba(253, 253, 255, 1);
		}

		.Path_74 {
			overflow: visible;
			position: absolute;
			width: 20px;
			height: 20px;
			left: 2px;
			top: 2px;
			transform: matrix(1, 0, 0, 1, 0, 0);
		}

		#Group_78 {
			position: absolute;
			width: 24px;
			height: 24px;
			left: 861.456px;
			top: 1745.567px;
			overflow: visible;
		}

		#Path_60_br {
			fill: transparent;
		}

		.Path_60_br {
			overflow: visible;
			position: absolute;
			width: 24px;
			height: 24px;
			left: 0px;
			top: 0px;
			transform: matrix(1, 0, 0, 1, 0, 0);
		}

		#Path_61_bs {
			fill: rgba(253, 253, 255, 1);
		}

		.Path_61_bs {
			overflow: visible;
			position: absolute;
			width: 20px;
			height: 20px;
			left: 2px;
			top: 2px;
			transform: matrix(1, 0, 0, 1, 0, 0);
		}

		#Path_74_bt {
			fill: rgba(253, 253, 255, 1);
		}

		.Path_74_bt {
			overflow: visible;
			position: absolute;
			width: 20px;
			height: 20px;
			left: 2px;
			top: 2px;
			transform: matrix(1, 0, 0, 1, 0, 0);
		}

		#Group_114 {
			position: absolute;
			width: 1840.176px;
			height: 1445.631px;
			left: 45.196px;
			top: 130.367px;
			overflow: visible;
		}

		#Path_136 {
			fill: rgba(255, 255, 255, 1);
			stroke: rgba(189, 192, 225, 1);
			stroke-width: 1px;
			stroke-linejoin: miter;
			stroke-linecap: butt;
			stroke-miterlimit: 4;
			shape-rendering: auto;
		}

		.Path_136 {
			overflow: visible;
			position: absolute;
			width: 1840.176px;
			height: 873.603px;
			left: 0px;
			top: 572.028px;
			transform: matrix(1, 0, 0, 1, 0, 0);
		}

		#Group_112 {
			position: absolute;
			width: 470.578px;
			height: 873.604px;
			left: 0px;
			top: 572.028px;
			overflow: visible;
		}

		#Path_132 {
			fill: rgba(255, 255, 255, 1);
			stroke: rgba(234, 235, 245, 1);
			stroke-width: 1px;
			stroke-linejoin: miter;
			stroke-linecap: butt;
			stroke-miterlimit: 4;
			shape-rendering: auto;
		}

		.Path_132 {
			overflow: visible;
			position: absolute;
			width: 470.578px;
			height: 873.604px;
			left: 0px;
			top: 0px;
			transform: matrix(1, 0, 0, 1, 0, 0);
		}

		#DASHBOARD {
			left: 116.289px;
			top: 12.18px;
			position: absolute;
			overflow: visible;
			width: 239px;
			white-space: nowrap;
			text-align: left;
			font-family: Segoe UI;
			font-style: normal;
			font-weight: normal;
			font-size: 41px;
			color: rgba(92, 93, 138, 1);
		}

		#Line_6 {
			fill: transparent;
			stroke: rgba(234, 235, 245, 1);
			stroke-width: 1px;
			stroke-linejoin: miter;
			stroke-linecap: butt;
			stroke-miterlimit: 4;
			shape-rendering: auto;
		}

		.Line_6 {
			overflow: visible;
			position: absolute;
			width: 393.371px;
			height: 2px;
			left: 38.604px;
			top: 582.863px;
			transform: matrix(1, 0, 0, 1, 0, 0);
		}

		#Get_Help {
			left: 83.414px;
			top: 767.534px;
			position: absolute;
			overflow: visible;
			width: 85px;
			white-space: nowrap;
			text-align: left;
			font-family: Segoe UI;
			font-style: normal;
			font-weight: bold;
			font-size: 21px;
			color: rgba(92, 93, 138, 1);
		}

		#Settings {
			left: 83.496px;
			top: 800.828px;
			position: absolute;
			overflow: visible;
			width: 78px;
			white-space: nowrap;
			text-align: left;
			font-family: Segoe UI;
			font-style: normal;
			font-weight: bold;
			font-size: 21px;
			color: rgba(92, 93, 138, 1);
		}

		#Logout {
			left: 83.564px;
			top: 833.155px;
			position: absolute;
			overflow: visible;
			width: 72px;
			white-space: nowrap;
			text-align: left;
			font-family: Segoe UI;
			font-style: normal;
			font-weight: bold;
			font-size: 22px;
			color: rgba(92, 93, 138, 1);
		}

		#Icon_core-account-logout {
			position: absolute;
			width: 20.364px;
			height: 21.994px;
			left: 50.493px;
			top: 839.126px;
			overflow: visible;
		}

		#Path_120 {
			fill: rgba(93, 93, 138, 1);
		}

		.Path_120 {
			overflow: visible;
			position: absolute;
			width: 13.28px;
			height: 11.755px;
			left: 0px;
			top: 5.12px;
			transform: matrix(1, 0, 0, 1, 0, 0);
		}

		#Path_121 {
			fill: rgba(93, 93, 138, 1);
		}

		.Path_121 {
			overflow: visible;
			position: absolute;
			width: 9.914px;
			height: 21.994px;
			left: 10.45px;
			top: 0px;
			transform: matrix(1, 0, 0, 1, 0, 0);
		}

		#Icon_feather-settings {
			position: absolute;
			width: 22.5px;
			height: 22.702px;
			left: 50.493px;
			top: 806.126px;
			overflow: visible;
		}

		#Path_122 {
			fill: transparent;
			stroke: rgba(93, 93, 138, 1);
			stroke-width: 3px;
			stroke-linejoin: round;
			stroke-linecap: round;
			stroke-miterlimit: 4;
			shape-rendering: auto;
		}

		.Path_122 {
			overflow: visible;
			position: absolute;
			width: 9.849px;
			height: 9.849px;
			left: 7.826px;
			top: 7.926px;
			transform: matrix(1, 0, 0, 1, 0, 0);
		}

		#Path_123 {
			fill: transparent;
			stroke: rgba(93, 93, 138, 1);
			stroke-width: 3px;
			stroke-linejoin: round;
			stroke-linecap: round;
			stroke-miterlimit: 4;
			shape-rendering: auto;
		}

		.Path_123 {
			overflow: visible;
			position: absolute;
			width: 25.5px;
			height: 25.702px;
			left: 0px;
			top: 0px;
			transform: matrix(1, 0, 0, 1, 0, 0);
		}

		#Icon_material-help-outline {
			fill: rgba(92, 93, 137, 1);
		}

		.Icon_material-help-outline {
			overflow: visible;
			position: absolute;
			width: 24.822px;
			height: 24.817px;
			left: 48.17px;
			top: 769.126px;
			transform: matrix(1, 0, 0, 1, 0, 0);
		}

		#Rectangle_102 {
			fill: rgba(255, 255, 255, 1);
			stroke: rgba(189, 192, 225, 1);
			stroke-width: 1px;
			stroke-linejoin: miter;
			stroke-linecap: butt;
			stroke-miterlimit: 4;
			shape-rendering: auto;
		}

		.Rectangle_102 {
			position: absolute;
			overflow: visible;
			width: 1840.176px;
			height: 573px;
			left: 0px;
			top: 0px;
		}

		#Patients {
			left: 1056.952px;
			top: 573px;
			position: absolute;
			overflow: visible;
			width: 171px;
			white-space: nowrap;
			text-align: left;
			font-family: Segoe UI;
			font-style: normal;
			font-weight: normal;
			font-size: 49px;
			color: rgba(90, 92, 137, 1);
		}

		#Register_Patient__ {
			left: 1015px;
			top: 160.5px;
			position: absolute;
			overflow: visible;
			width: 279px;
			white-space: nowrap;
			text-align: left;
			font-family: Segoe UI;
			font-style: normal;
			font-weight: bold;
			font-size: 39px;
			color: rgba(92, 93, 138, 1);
		}

		#Line_7 {
			fill: transparent;
			stroke: rgba(189, 192, 225, 1);
			stroke-width: 2px;
			stroke-linejoin: miter;
			stroke-linecap: butt;
			stroke-miterlimit: 4;
			shape-rendering: auto;
		}

		.Line_7 {
			overflow: visible;
			position: absolute;
			width: 2px;
			height: 502px;
			left: 960.192px;
			top: 155.5px;
			transform: matrix(1, 0, 0, 1, 0, 0);
		}

		#To_begin_you_can_search_for_re {
			left: 71.692px;
			top: 221.182px;
			position: absolute;
			overflow: visible;
			width: 826px;
			white-space: nowrap;
			text-align: left;
			font-family: Segoe UI;
			font-style: normal;
			font-weight: normal;
			font-size: 41px;
			color: rgba(92, 93, 138, 1);
		}

		#Welcome_Clinic_Name___ {
			left: 71.692px;
			top: 155.5px;
			position: absolute;
			overflow: visible;
			width: 482px;
			white-space: nowrap;
			text-align: left;
			font-family: Segoe UI;
			font-style: normal;
			font-weight: bold;
			font-size: 46px;
			color: rgba(92, 93, 138, 1);
		}

		#Repeat_Grid_6 {
			position: absolute;
			width: 92px;
			height: 90px;
			left: 1015px;
			top: 238.5px;
			overflow: hidden;
		}

		#Group_ch {
			position: absolute;
			width: 90px;
			height: 90px;
			left: 0px;
			top: 0px;
			overflow: visible;
		}

		#Patients_registered {
			left: 1195px;
			top: 260px;
			position: absolute;
			overflow: visible;
			width: 380px;
			white-space: nowrap;
			text-align: left;
			font-family: Segoe UI;
			font-style: normal;
			font-weight: normal;
			font-size: 35px;
			color: rgba(92, 93, 138, 1);
		}

		#Group_116 {
			position: absolute;
			width: 242.385px;
			height: 46.145px;
			left: 1565.808px;
			top: 260.428px;
			overflow: visible;
		}

		#Rectangle_103 {
			fill: rgba(92, 93, 138, 1);
			stroke: rgba(92, 93, 138, 1);
			stroke-width: 1px;
			stroke-linejoin: miter;
			stroke-linecap: butt;
			stroke-miterlimit: 4;
			shape-rendering: auto;
		}

		.Rectangle_103 {
			position: absolute;
			overflow: visible;
			width: 242.385px;
			height: 46.145px;
			left: 0px;
			top: 0px;
		}

		#Register_Patient {
			left: 31.692px;
			top: 5.572px;
			position: absolute;
			overflow: visible;
			width: 180px;
			white-space: nowrap;
			text-align: left;
			font-family: Segoe UI;
			font-style: normal;
			font-weight: normal;
			font-size: 26px;
			color: rgba(255, 255, 255, 1);
		}

		.Rectangle_85 {
			position: absolute;
			overflow: visible;
			width: 1304px;
			height: 773.74px;
			left: 559.564px;
			top: 775.981px;
			background-color: rgba(255, 255, 255, 1);
			border: 1px solid rgba(234, 235, 245, 1);
			border-radius: 0;
			z-index: 1;
			/* Set the border-radius accordingly if needed */
		}


		.item-list {
			list-style: none;
			padding: 0;
		}

		.item {
			border: 1px solid rgba(112, 112, 112, 1);
			margin: 20px;
			border-radius: 60px;
			padding: 25px;
			font-family: Segoe UI;
			position: relative;
			fill: rgba(255, 255, 255, 1);
			stroke: rgba(234, 235, 245, 1);
			stroke-width: 1px;
			stroke-linejoin: miter;
			stroke-linecap: butt;
			stroke-miterlimit: 4;
			shape-rendering: auto;

		}

		.patient-info {
			margin-left: 30px;
			font-family: Segoe UI;
			color: rgba(90, 92, 137, 1);
			display: flex;
			/* Adjust the margin as needed */
		}

		.left-info {
			flex: 1;
		}

		.right-info {
			flex: 1;
			text-align: right;
			margin-right: 10px;
			color: rgba(90, 92, 137, 1);
		}

		.patient-shape {
			font-family: Segoe UI;
			/* Add styles for the shape (if necessary) */
		}


		.patient-name {
			margin: 0;
			color: rgba(90, 92, 137, 1);
			font-size: 25px;
			/* Adjust the font size as needed */
		}

		.patient-id {
			opacity: 0.8;
			color: rgba(92, 93, 138, 1);
			text-align: left;
			font-family: Segoe UI;
			font-style: normal;
			font-weight: normal;
			font-size: 20px;
		}

		.email {
			opacity: 0.7;
		}

		.patient-additional-info {
			font-size: 16px;
		}

		.Rectangle_108 {
			position: absolute;
			overflow: visible;
			width: 398px;
			height: 46px;
			left: 1410.192px;
			top: 794.682px;
		}

		#Group_115 {
			position: absolute;
			width: 114.538px;
			height: 181.517px;
			left: 1762.196px;
			top: 802.835px;
			overflow: visible;
		}

		#Path_129 {
			fill: transparent;
		}

		.Path_129 {
			overflow: visible;
			position: absolute;
			width: 6.45px;
			height: 48.34px;
			left: 108.088px;
			top: 133.177px;
			transform: matrix(1, 0, 0, 1, 0, 0);
		}

		#Path_130 {
			fill: rgba(93, 93, 138, 1);
		}

		.Path_130 {
			overflow: visible;
			position: absolute;
			width: 30.176px;
			height: 26.695px;
			left: 0px;
			top: 0px;
			transform: matrix(1, 0, 0, 1, 0, 0);
		}

		#Group_136 {
			position: absolute;
			width: 315.363px;
			height: 589px;
			left: 144.829px;
			top: 826px;
			overflow: visible;
		}

		#Component_2__1 {
			position: absolute;
			width: 315.363px;
			height: 589px;
			left: 0px;
			top: 0px;
			overflow: visible;
		}

		#Group_134 {
			position: absolute;
			width: 315.363px;
			height: 589px;
			left: 0px;
			top: 0px;
			overflow: visible;
		}

		#Repeat_Grid_7 {
			position: absolute;
			width: 315.363px;
			height: 589px;
			left: 0px;
			top: 0px;
			overflow: hidden;
		}

		#Group_c {
			position: absolute;
			width: 283.344px;
			height: 59.051px;
			left: 0px;
			top: 0px;
			overflow: visible;
		}

		#Path_135 {
			fill: rgba(255, 255, 255, 1);
			stroke: rgba(234, 235, 245, 1);
			stroke-width: 1px;
			stroke-linejoin: miter;
			stroke-linecap: butt;
			stroke-miterlimit: 4;
			shape-rendering: auto;
		}

		.Path_135 {
			filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
			overflow: visible;
			position: absolute;
			width: 301.344px;
			height: 77.051px;
			left: 0px;
			top: 0px;
			transform: matrix(1, 0, 0, 1, 0, 0);
		}

		#Group_da {
			position: absolute;
			width: 283.344px;
			height: 59.051px;
			left: 0px;
			top: 86px;
			overflow: visible;
		}

		#Path_135_c {
			fill: rgba(255, 255, 255, 1);
			stroke: rgba(234, 235, 245, 1);
			stroke-width: 1px;
			stroke-linejoin: miter;
			stroke-linecap: butt;
			stroke-miterlimit: 4;
			shape-rendering: auto;
		}

		.Path_135_c {
			filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
			overflow: visible;
			position: absolute;
			width: 301.344px;
			height: 77.051px;
			left: 0px;
			top: 0px;
			transform: matrix(1, 0, 0, 1, 0, 0);
		}

		#Group_db {
			position: absolute;
			width: 283.344px;
			height: 59.051px;
			left: 0px;
			top: 172px;
			overflow: visible;
		}

		#Path_135_da {
			fill: rgba(255, 255, 255, 1);
			stroke: rgba(234, 235, 245, 1);
			stroke-width: 1px;
			stroke-linejoin: miter;
			stroke-linecap: butt;
			stroke-miterlimit: 4;
			shape-rendering: auto;
		}

		.Path_135_da {
			filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
			overflow: visible;
			position: absolute;
			width: 301.344px;
			height: 77.051px;
			left: 0px;
			top: 0px;
			transform: matrix(1, 0, 0, 1, 0, 0);
		}

		#Group_dc {
			position: absolute;
			width: 283.344px;
			height: 59.051px;
			left: 0px;
			top: 258px;
			overflow: visible;
		}

		#Path_135_dc {
			fill: rgba(255, 255, 255, 1);
			stroke: rgba(234, 235, 245, 1);
			stroke-width: 1px;
			stroke-linejoin: miter;
			stroke-linecap: butt;
			stroke-miterlimit: 4;
			shape-rendering: auto;
		}

		.Path_135_dc {
			filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
			overflow: visible;
			position: absolute;
			width: 301.344px;
			height: 77.051px;
			left: 0px;
			top: 0px;
			transform: matrix(1, 0, 0, 1, 0, 0);
		}

		#Group_dd {
			position: absolute;
			width: 283.344px;
			height: 59.051px;
			left: 0px;
			top: 344px;
			overflow: visible;
		}

		#Path_135_de {
			fill: rgba(255, 255, 255, 1);
			stroke: rgba(234, 235, 245, 1);
			stroke-width: 1px;
			stroke-linejoin: miter;
			stroke-linecap: butt;
			stroke-miterlimit: 4;
			shape-rendering: auto;
		}

		.Path_135_de {
			filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
			overflow: visible;
			position: absolute;
			width: 301.344px;
			height: 77.051px;
			left: 0px;
			top: 0px;
			transform: matrix(1, 0, 0, 1, 0, 0);
		}

		#Group_df {
			position: absolute;
			width: 283.344px;
			height: 59.051px;
			left: 0px;
			top: 430px;
			overflow: visible;
		}

		#Path_135_dg {
			fill: rgba(255, 255, 255, 1);
			stroke: rgba(234, 235, 245, 1);
			stroke-width: 1px;
			stroke-linejoin: miter;
			stroke-linecap: butt;
			stroke-miterlimit: 4;
			shape-rendering: auto;
		}

		.Path_135_dg {
			filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
			overflow: visible;
			position: absolute;
			width: 301.344px;
			height: 77.051px;
			left: 0px;
			top: 0px;
			transform: matrix(1, 0, 0, 1, 0, 0);
		}

		#Group_dh {
			position: absolute;
			width: 283.344px;
			height: 59.051px;
			left: 0px;
			top: 516px;
			overflow: visible;
		}

		#Path_135_di {
			fill: rgba(255, 255, 255, 1);
			stroke: rgba(234, 235, 245, 1);
			stroke-width: 1px;
			stroke-linejoin: miter;
			stroke-linecap: butt;
			stroke-miterlimit: 4;
			shape-rendering: auto;
		}

		.Path_135_di {
			filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
			overflow: visible;
			position: absolute;
			width: 301.344px;
			height: 77.051px;
			left: 0px;
			top: 0px;
			transform: matrix(1, 0, 0, 1, 0, 0);
		}

		.patient-picture {
			position: absolute;
			width: 90px;
			height: 90px;
			overflow: visible;
		}

		#Ellipse_26,
		#Ellipse_26_cz,
		#Ellipse_26_c {
			position: absolute;
			width: 90px;
			height: 90px;
			overflow: hidden;
			/* Ensures the border-radius clips the content */
			border-radius: 50%;
			/* Makes the element circular */
		}

		/* Add the background-size property to control how the image fills the circle */
		#Ellipse_26 {
			left: 981.192px;
			top: 238.5px;
			background-size: cover;
		}

		#Ellipse_26_cz {
			left: 1023.692px;
			top: 238.5px;
			background-size: cover;
		}

		#Ellipse_26_c {
			left: 1066px;
			top: 238.5px;
			background-size: cover;
		}

		#Patients_dj {
			left: 75.001px;
			top: 10px;
			position: absolute;
			overflow: visible;
			width: 122px;
			white-space: nowrap;
			text-align: left;
			font-family: Segoe UI;
			font-style: normal;
			font-weight: normal;
			font-size: 35px;
			color: rgba(92, 93, 138, 1);
		}

		#Appointments {
			left: 60.05px;
			top: 10px;
			position: absolute;
			overflow: visible;
			width: 208px;
			white-space: nowrap;
			text-align: left;
			font-family: Segoe UI;
			font-style: normal;
			font-weight: normal;
			font-size: 33px;
			color: rgba(92, 93, 138, 1);
		}

		#Codes {
			left: 93.866px;
			top: 10px;
			position: absolute;
			overflow: visible;
			width: 91px;
			white-space: nowrap;
			text-align: left;
			font-family: Segoe UI;
			font-style: normal;
			font-weight: normal;
			font-size: 33px;
			color: rgba(92, 93, 138, 1);
		}

		#Prescriptions {
			left: 57.866px;
			top: 10px;
			position: absolute;
			overflow: visible;
			width: 188px;
			white-space: nowrap;
			text-align: left;
			font-family: Segoe UI;
			font-style: normal;
			font-weight: normal;
			font-size: 33px;
			color: rgba(92, 93, 138, 1);
		}

		#Reports {
			left: 93.866px;
			top: 10px;
			position: absolute;
			overflow: visible;
			width: 112px;
			white-space: nowrap;
			text-align: left;
			font-family: Segoe UI;
			font-style: normal;
			font-weight: normal;
			font-size: 33px;
			color: rgba(92, 93, 138, 1);
		}

		#Bills {
			left: 110.366px;
			top: 10px;
			position: absolute;
			overflow: visible;
			width: 58px;
			white-space: nowrap;
			text-align: left;
			font-family: Segoe UI;
			font-style: normal;
			font-weight: normal;
			font-size: 33px;
			color: rgba(92, 93, 138, 1);
		}

		#Inbox {
			left: 93.866px;
			top: 10px;
			position: absolute;
			overflow: visible;
			width: 87px;
			white-space: nowrap;
			text-align: left;
			font-family: Segoe UI;
			font-style: normal;
			font-weight: normal;
			font-size: 35px;
			color: rgba(92, 93, 138, 1);
		}

		a {
			text-decoration: none;
		}

		.time {
			float: right;
			font-size: 15px;
			top: 18px;
		}

		.file-name {
			font-size: 20px;
		}

		.time,
		.file-name {
			margin: 0;
			color: rgba(90, 92, 137, 1);
		}

		.from {
			margin: 0;
			color: rgba(90, 92, 137, 1);
			font-size: 18px;
		}

		.hospital-name {
			margin: 0;
			color: rgba(90, 92, 137, 1);
			font-size: 28px;
		}

		#Group_c:hover #Path_135 {
			fill: rgba(92, 93, 138, 1);
			stroke: rgba(255, 255, 255, 1);
		}

		#Group_c:hover #Inbox span {
			color: rgba(255, 255, 255, 1);
		}

		#Group_da:hover #Path_135_c {
			fill: rgba(92, 93, 138, 1);
			stroke: rgba(255, 255, 255, 1);
		}

		#Group_da:hover #Patients_dj span {
			color: rgba(255, 255, 255, 1);
		}

		#Group_db:hover #Path_135_da {
			fill: rgba(92, 93, 138, 1);
			stroke: rgba(255, 255, 255, 1);
		}

		#Group_db:hover #Appointments span {
			color: rgba(255, 255, 255, 1);
		}

		#Group_dc:hover #Path_135_dc {
			fill: rgba(92, 93, 138, 1);
			stroke: rgba(255, 255, 255, 1);
		}

		#Group_dc:hover #Codes span {
			color: rgba(255, 255, 255, 1);
		}

		#Group_dd:hover #Path_135_de {
			fill: rgba(92, 93, 138, 1);
			stroke: rgba(255, 255, 255, 1);
		}

		#Group_dd:hover #Prescriptions span {
			color: rgba(255, 255, 255, 1);
		}

		#Group_df:hover #Path_135_dg {
			fill: rgba(92, 93, 138, 1);
			stroke: rgba(255, 255, 255, 1);
		}

		#Group_df:hover #Reports span {
			color: rgba(255, 255, 255, 1);
		}

		#Group_dh:hover #Path_135_di {
			fill: rgba(92, 93, 138, 1);
			stroke: rgba(255, 255, 255, 1);
		}

		#Group_dh:hover #Bills span {
			color: rgba(255, 255, 255, 1);
		}

		#add-icon {
			fill: rgba(92, 93, 138, 1);
		}

		.add-icon {
			overflow: visible;
			position: absolute;
			width: 30px;
			height: 30px;
			left: 1760px;
			top: 600px;
			transform: matrix(1, 0, 0, 1, 0, 0);
		}

		.add-icon:hover #add-icon {
			fill: rgba(51, 53, 97);
		}

		#NewPatientModel {
			display: none;
			position: absolute;
			width: 1920px;
			height: 1790px;
			overflow: hidden;
			--web-view-name: Reports–EditModal;
			--web-view-id: ReportsEditModal;
			--web-scale-on-resize: true;
			--web-enable-deep-linking: true;
		}

		#background-blur {
			position: absolute;
			width: 1920px;
			height: 1790px;
			background-color: rgb(0, 0, 0);
			opacity: 0.5;
			z-index: 1;
		}

		#Modal-Edit {
			position: absolute;
			width: 1000px;
			height: 400px;
			left: 700px;
			top: 750px;
			overflow: visible;
			background-color: rgb(248, 248, 251);
			z-index: 2;
		}

		#Modal-Content {
			position: absolute;
			/* Add appropriate width, height, and other styling properties */
			z-index: 3;
		}

		#cross {
			fill: rgba(0, 0, 0, 1);
			stroke: rgba(0, 0, 0, 1);
			stroke-width: 5px;
			stroke-linejoin: miter;
			stroke-linecap: round;
			stroke-miterlimit: 4;
			shape-rendering: auto;
			transition: fill 0.1s ease, stroke 0.1 ease;
		}

		#cross:hover {
			fill: rgba(255, 0, 0, 1);
			stroke: rgba(255, 0, 0, 1);
		}

		.cross {
			overflow: visible;
			position: absolute;
			width: 15px;
			height: 15px;
			left: 1670px;
			top: 770px;
			transform: matrix(1, 0, 0, 1, 0, 0);
		}

		#Rectangle_125 {
			fill: rgba(92, 93, 138, 1);
			stroke: rgba(112, 112, 112, 1);
			stroke-width: 1px;
			stroke-linejoin: miter;
			stroke-linecap: butt;
			stroke-miterlimit: 4;
			shape-rendering: auto;
		}

		.Rectangle_125 {
			position: absolute;
			overflow: visible;
			width: 253px;
			height: 95px;
			left: 30px;
			top: 40px;
		}

		#Submit-button {
			position: absolute;
			width: 253px;
			height: 50px;
			left: 1050px;
			top: 1000px;
			overflow: visible;
		}


		#Submit-button:hover #Rectangle_125 {
			fill: rgba(255, 255, 255, 1);
		}

		#Update {
			left: 32px;
			top: 52px;
			position: absolute;
			overflow: visible;
			width: 189px;
			height: 47px;
			text-align: center;
			font-family: Segoe UI;
			font-style: normal;
			font-weight: normal;
			font-size: 35px;
			color: rgba(255, 255, 255, 1);
		}

		#Submit-button:hover #Update {
			color: rgba(92, 93, 138, 1);
		}

		.Rectangle_111 {
			position: absolute;
			overflow: visible;
			width: 380px;
			height: 50px;
			left: 1200px;
			top: 935px;
			font-size: 25px;
			padding: 10px;
			border: 2px solid rgba(92, 93, 138, 1);
		}


		.Rectangle_112 {
			position: absolute;
			overflow: visible;
			width: 380px;
			height: 50px;
			left: 800px;
			top: 920px;
			font-size: 18px;
			padding: 12px 16px;
			border: 2px solid rgba(92, 93, 138, 1);
			background-color: #f9f9f9;
		}

		.dropdown {
			position: relative;
			display: inline-block;
		}

		.dropdown-content {
			display: none;
			position: absolute;
			background-color: #f9f9f9;
			min-width: 160px;
			max-height: 500px;
			overflow-y: auto;
			box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
			z-index: 1;
			width: 380px;
			left: 800px;
			top: 970px;
		}

		.dropdown-content div {
			padding: 12px 16px;
			cursor: pointer;
			font-size: 18px;
			white-space: nowrap;
			text-align: left;
			font-family: Segoe UI;
			font-style: normal;
			font-weight: normal;
		}

		.dropdown-content div:hover {
			background-color: #ddd;
		}

		.dropdown:hover .dropdown-content {
			display: block;
		}

		.Rectangle_112::placeholder {
			font-size: 20px;
		}
		
		#Patient_Demographics {
			left: 1050px;
			top: 780px;
			position: absolute;
			overflow: visible;
			width: 402px;
			white-space: nowrap;
			text-align: left;
			font-family: Segoe UI;
			font-style: normal;
			font-weight: bold;
			font-size: 40px;
			color: rgba(90, 92, 137, 1);
		}

		#Edit_Patient_Record {
			left: 325px;
			top: 890px;
			position: absolute;
			overflow: visible;
			width: 1117px;
			height: 57px;
			text-align: center;
			font-family: Segoe UI;
			font-style: normal;
			font-weight: normal;
			font-size: 25px;
			color: rgba(92, 93, 138, 1);
		}

		#Edit_Patient_Record_1 {
			left: 725px;
			top: 890px;
			position: absolute;
			overflow: visible;
			width: 1117px;
			height: 57px;
			text-align: center;
			font-family: Segoe UI;
			font-style: normal;
			font-weight: normal;
			font-size: 25px;
			color: rgba(92, 93, 138, 1);
		}
	</style>
</head>

<body>
	<div id="Clinic_Home_Page">
		<div id="Group_139">
			<div id="Group_138">
				<div id="Group_140">
					<div id="Group_106">
						<div id="Group_75">
							<div id="Group_6">
								<div id="Group_1">
									<svg class="Path_4" viewBox="-2.042 -0.068 1920.034 88">
										<path id="Path_4"
											d="M -2.0419921875 -0.068267822265625 L 1917.96484375 -0.0436134859919548 C 1918.034057617188 44.94684600830078 1917.94775390625 20.27810668945312 1917.94775390625 44.55979919433594 C 1917.94775390625 68.84149169921875 1900.258911132812 87.93173217773438 1875.958862304688 87.93173217773438 L 43.99898910522461 87.93173217773438 C 19.69899368286133 87.93173217773438 -2.0419921875 68.54843139648438 -2.0419921875 44.26673889160156 C -2.0419921875 19.98504638671875 -2.017578840255737 43.8862190246582 -2.0419921875 -0.068267822265625 Z">
										</path>
									</svg>
									<svg class="Path_5" viewBox="5.157 0 1920.192 164.347">
										<path id="Path_5"
											d="M 80.48654937744141 0 L 1850.170654296875 0 C 1894.621704101562 0 1925.2138671875 37.76025390625 1925.16845703125 84.945556640625 C 1925.123046875 132.130859375 1925.1455078125 119.827392578125 1925.349609375 164.238037109375 L 5.522396087646484 164.347412109375 C 5.769910335540771 84.103271484375 5.157227039337158 130.9327239990234 5.157227039337158 83.84619140625 C 5.157227039337158 36.75967025756836 36.03556442260742 0 80.48654937744141 0 Z">
										</path>
									</svg>
									<img id="Image_1" src="/images/Image_1.png"
										srcset="/images/Image_1.png 1x, /images/Image_1@2x.png 2x">

									<div id="Home">
										<span><a href="/"
												style="text-decoration: none; color: rgba(255,255,255,1);">Home</a></span>
									</div>
									<a href="/#About_Us_d">
										<div id="About_Us">
											<span>About Us</span>
										</div>
									</a>
									<div id="Contact_Us">
										<a href="/contactUs" style="text-decoration: none; color: rgba(255,255,255,1);">
											<span>Contact Us</span>
										</a>
									</div>
									<div id="Welcome_Clinic_Name">
										<a href="/logout"
											style="text-decoration: none; color: rgba(255,255,255,1);"><span>Logout</span></a>
									</div>
									<div id="Repeat_Grid_2">
										<div id="Group" class="">
											<div id="Repeat_Grid_3">
												<div id="Group_" class="">
													<div id="How_It_Works_FAQ_Contact_Us">
														<span>How It WorksFAQContact Us</span>
													</div>
												</div>
											</div>
										</div>
										<div id="Group_ba" class="">
											<div id="Repeat_Grid_3_ba">
												<div id="Group_bb" class="">
													<div id="Contact_Support_Help_Center_Us">
														<span>Contact SupportHelp CenterUser Guides</span>
													</div>
												</div>
											</div>
										</div>
										<div id="Group_bd" class="">
											<div id="Repeat_Grid_3_be">
												<div id="Group_bf" class="">
													<div id="Terms_and_Conditions_Privacy_P">
														<span>Terms and ConditionsPrivacy PolicyData
															Protection</span>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div id="Copyright_-_Group_9_">
										<span>Copyright - Group 9 </span>
									</div>
									<svg class="Path_62" viewBox="2 2 51.956 51.956">
										<path id="Path_62"
											d="M 26.13358497619629 36.52479553222656 C 26.0218677520752 36.64824295043945 25.91776084899902 36.77837371826172 25.82184982299805 36.91446685791016 C 25.72353172302246 37.05927658081055 25.64490699768066 37.21652603149414 25.58804512023926 37.3820686340332 C 25.51314544677734 37.52932739257812 25.46061325073242 37.68692779541016 25.43218231201172 37.84967422485352 C 25.41943168640137 38.02262496948242 25.41943168640137 38.19628143310547 25.43218040466309 38.36923599243164 C 25.42339706420898 38.71000671386719 25.49457550048828 39.04808807373047 25.64000129699707 39.35639572143555 C 25.87620162963867 40.0090446472168 26.39016914367676 40.52301406860352 27.04281806945801 40.75922012329102 C 27.67159080505371 41.03711700439453 28.38837623596191 41.03711700439453 29.01714706420898 40.75920867919922 C 29.66979217529297 40.52301025390625 30.18375396728516 40.0090446472168 30.41996002197266 39.35640335083008 C 30.53531646728516 39.0405387878418 30.58825302124023 38.70527648925781 30.57582855224609 38.36923599243164 C 30.57981872558594 37.67873382568359 30.30873870849609 37.01505279541016 29.82246398925781 36.52479934692383 C 29.33468246459961 36.03300094604492 28.67069816589355 35.75637435913086 27.97802543640137 35.75637435913086 C 27.28535461425781 35.75637435913086 26.62136650085449 36.03300094604492 26.13358879089355 36.52479934692383 Z M 27.97802543640137 1.999999761581421 C 13.63075733184814 1.999999761581421 1.999999761581421 13.63075923919678 1.999999761581421 27.97802543640137 C 1.999999761581421 42.32529449462891 13.63075923919678 53.95605087280273 27.97802543640137 53.95605087280273 C 42.32529449462891 53.95605087280273 53.95605087280273 42.32529067993164 53.95605087280273 27.97802543640137 C 53.95605087280273 13.63075733184814 42.32529067993164 1.999999761581421 27.97802543640137 1.999999761581421 Z M 27.97802543640137 48.76044845581055 C 16.50020980834961 48.76044845581055 7.195605278015137 39.45583724975586 7.195605278015137 27.97802543640137 C 7.195605278015137 16.50020980834961 16.50021171569824 7.195605278015137 27.97802543640137 7.195605278015137 C 39.45583724975586 7.195605278015137 48.76044845581055 16.50021171569824 48.76044845581055 27.97802543640137 C 48.76044845581055 39.45583724975586 39.45583724975586 48.76044845581055 27.97802543640137 48.76044845581055 Z M 27.97802543640137 14.98901271820068 C 25.19192123413086 14.98722743988037 22.61678695678711 16.47288131713867 21.2237377166748 18.88571548461914 C 20.71181106567383 19.69100570678711 20.68258666992188 20.71213531494141 21.14761734008789 21.54538536071777 C 21.61264801025391 22.37863731384277 22.49707412719727 22.88986206054688 23.45121955871582 22.8769474029541 C 24.40536499023438 22.86403274536133 25.27562713623047 22.32905197143555 25.71793174743652 21.48351860046387 C 26.1838264465332 20.67655181884766 27.04623222351074 20.18091583251953 27.97802543640137 20.18461799621582 C 29.41275405883789 20.18461799621582 30.57582855224609 21.34769439697266 30.57582855224609 22.78242111206055 C 30.57582855224609 24.21714782714844 29.41275024414062 25.38022232055664 27.97802543640137 25.38022232055664 C 26.54329681396484 25.38022232055664 25.38022232055664 26.54330062866211 25.38022232055664 27.97802543640137 L 25.38022232055664 30.57582855224609 C 25.38022232055664 32.01055526733398 26.54330062866211 33.17362976074219 27.97802543640137 33.17362976074219 C 29.41275405883789 33.17362976074219 30.57582855224609 32.01055526733398 30.57582855224609 30.57582855224609 L 30.57582855224609 30.10822296142578 C 34.12174987792969 28.82158279418945 36.2371940612793 25.18010902404785 35.59841918945312 21.46245002746582 C 34.95964431762695 17.74479293823242 31.75004577636719 15.01827716827393 27.97802352905273 14.98901462554932 Z">
										</path>
									</svg>
									<div id="Group_27">
										<svg class="Path_63" viewBox="5 2 36.368 51.956">
											<path id="Path_63"
												d="M 38.7702522277832 17.58625602722168 L 36.17254257202148 17.58625602722168 L 36.17254257202148 14.98854732513428 C 36.17254257202148 7.815170764923096 30.35737037658691 2 23.18399620056152 2 C 16.01061630249023 2 10.19544696807861 7.81517219543457 10.19544696807861 14.98854732513428 L 10.19544696807861 17.58625602722168 L 7.597738265991211 17.58625602722168 C 6.163063049316406 17.58625602722168 5.000029563903809 18.74929428100586 5.000029563903809 20.18396759033203 L 5.000029563903809 40.35258483886719 C 4.989954948425293 43.30746841430664 6.660164833068848 46.01123046875 9.30703067779541 47.32483291625977 L 22.02281951904297 53.68143081665039 C 22.75455284118652 54.04759216308594 23.61603736877441 54.04759216308594 24.34777069091797 53.68143081665039 L 37.06355667114258 47.32483291625977 C 39.70941162109375 46.010498046875 41.37852096557617 43.30688095092773 41.36796188354492 40.35257720947266 L 41.36796188354492 20.18396759033203 C 41.36796188354492 18.74929046630859 40.20492553710938 17.58625602722168 38.7702522277832 17.58625602722168 Z M 15.39086723327637 14.98854732513428 C 15.39086723327637 10.68452262878418 18.87996673583984 7.195420742034912 23.18399620056152 7.195420742034912 C 27.48802375793457 7.195420742034912 30.97712326049805 10.68452262878418 30.97712326049805 14.98854827880859 L 30.97712326049805 17.58625602722168 L 15.39086723327637 17.58625602722168 L 15.39086723327637 14.98854732513428 Z M 36.17254257202148 40.35258483886719 C 36.17668914794922 41.33822631835938 35.61935043334961 42.24024963378906 34.73600769042969 42.67753601074219 L 23.18399620056152 48.45224380493164 L 11.63198089599609 42.6749382019043 C 10.74948596954346 42.23805618286133 10.19229602813721 41.33728790283203 10.1954460144043 40.35258483886719 L 10.19544696807861 22.78167533874512 L 36.17254257202148 22.78167533874512 L 36.17254257202148 40.35258483886719 Z">
											</path>
										</svg>
										<svg class="Path_64" viewBox="11 12 5.195 10.391">
											<path id="Path_64"
												d="M 13.59771060943604 12 C 12.16303443908691 12 11 13.16303634643555 11 14.59770965576172 L 11 19.79312896728516 C 11 21.22780418395996 12.16303730010986 22.39083862304688 13.59771060943604 22.39083862304688 C 15.03238677978516 22.39083862304688 16.19541931152344 21.22780227661133 16.19541931152344 19.79312896728516 L 16.19541931152344 14.59770965576172 C 16.19541931152344 13.1630334854126 15.03238391876221 12 13.59771060943604 12 Z">
											</path>
										</svg>
									</div>
								</div>
							</div>
							<div id="Group_26">
								<svg class="Path_60" viewBox="0 0 24 24">
									<path id="Path_60" d="M 0 0 L 24 0 L 24 24 L 0 24 L 0 0 Z">
									</path>
								</svg>
								<svg class="Path_61" viewBox="2 2 20 20">
									<path id="Path_61"
										d="M 10.07999992370605 10.85999965667725 C 10.13000011444092 10.52999973297119 10.23999977111816 10.23999977111816 10.38000011444092 9.989999771118164 C 10.52000045776367 9.739999771118164 10.72000026702881 9.529999732971191 10.97000026702881 9.369999885559082 C 11.21000003814697 9.220000267028809 11.51000022888184 9.149999618530273 11.88000011444092 9.140000343322754 C 12.10999965667725 9.15000057220459 12.31999969482422 9.190000534057617 12.51000022888184 9.270000457763672 C 12.71000003814697 9.360000610351562 12.89000034332275 9.480000495910645 13.03000068664551 9.630000114440918 C 13.17000102996826 9.779999732971191 13.28000068664551 9.960000038146973 13.3700008392334 10.15999984741211 C 13.46000099182129 10.35999965667725 13.50000095367432 10.57999992370605 13.51000118255615 10.80000019073486 L 15.30000114440918 10.80000019073486 C 15.28000068664551 10.32999992370605 15.19000148773193 9.90000057220459 15.02000141143799 9.510000228881836 C 14.85000133514404 9.119999885559082 14.62000179290771 8.780000686645508 14.32000160217285 8.5 C 14.02000141143799 8.219999313354492 13.66000175476074 8 13.2400016784668 7.840000152587891 C 12.82000160217285 7.680000305175781 12.36000156402588 7.610000133514404 11.85000133514404 7.610000133514404 C 11.20000171661377 7.610000133514404 10.63000106811523 7.720000267028809 10.15000152587891 7.950000286102295 C 9.670001983642578 8.180000305175781 9.270001411437988 8.480000495910645 8.95000171661377 8.869999885559082 C 8.630002021789551 9.25999927520752 8.39000129699707 9.710000038146973 8.240001678466797 10.22999954223633 C 8.090002059936523 10.74999904632568 8 11.28999996185303 8 11.86999988555908 L 8 12.14000034332275 C 8 12.72000026702881 8.079999923706055 13.26000022888184 8.229999542236328 13.78000068664551 C 8.379999160766602 14.30000114440918 8.619999885559082 14.75000095367432 8.939999580383301 15.13000106811523 C 9.25999927520752 15.51000118255615 9.659999847412109 15.82000064849854 10.13999938964844 16.04000091552734 C 10.61999893188477 16.26000022888184 11.1899995803833 16.38000106811523 11.83999919891357 16.38000106811523 C 12.30999946594238 16.38000106811523 12.74999904632568 16.30000114440918 13.15999889373779 16.15000152587891 C 13.5699987411499 16.00000190734863 13.92999839782715 15.79000186920166 14.23999881744385 15.52000141143799 C 14.54999923706055 15.25000095367432 14.79999923706055 14.94000148773193 14.97999858856201 14.58000183105469 C 15.15999794006348 14.22000217437744 15.26999855041504 13.84000205993652 15.27999877929688 13.43000221252441 L 13.48999881744385 13.43000221252441 C 13.47999858856201 13.64000225067139 13.42999839782715 13.83000183105469 13.33999919891357 14.01000213623047 C 13.25 14.19000244140625 13.1299991607666 14.34000205993652 12.97999954223633 14.47000217437744 C 12.82999992370605 14.60000228881836 12.65999984741211 14.70000171661377 12.45999908447266 14.7700023651123 C 12.26999950408936 14.84000205993652 12.0699987411499 14.8600025177002 11.85999870300293 14.87000274658203 C 11.49999904632568 14.8600025177002 11.19999885559082 14.79000282287598 10.96999835968018 14.6400032043457 C 10.71999835968018 14.48000335693359 10.51999855041504 14.27000331878662 10.37999820709229 14.02000331878662 C 10.23999786376953 13.77000331878662 10.12999820709229 13.47000312805176 10.07999801635742 13.1400032043457 C 10.02999782562256 12.81000328063965 9.999998092651367 12.47000312805176 9.999998092651367 12.1400032043457 L 9.999998092651367 11.87000274658203 C 9.999998092651367 11.5200023651123 10.02999782562256 11.19000244140625 10.07999801635742 10.8600025177002 Z M 12 2 C 6.480000019073486 2 2 6.480000019073486 2 12 C 2 17.52000045776367 6.480000019073486 22 12 22 C 17.52000045776367 22 22 17.52000045776367 22 12 C 22 6.479999542236328 17.52000045776367 2 12 2 Z M 12 20 C 7.590000152587891 20 4 16.40999984741211 4 12 C 4 7.590000152587891 7.590000152587891 4 12 4 C 16.40999984741211 4 20 7.590000152587891 20 12 C 20 16.40999984741211 16.40999984741211 20 12 20 Z">
									</path>
								</svg>
								<svg class="Path_74" viewBox="2 2 20 20">
									<path id="Path_74"
										d="M 10.07999992370605 10.85999965667725 C 10.13000011444092 10.52999973297119 10.23999977111816 10.23999977111816 10.38000011444092 9.989999771118164 C 10.52000045776367 9.739999771118164 10.72000026702881 9.529999732971191 10.97000026702881 9.369999885559082 C 11.21000003814697 9.220000267028809 11.51000022888184 9.149999618530273 11.88000011444092 9.140000343322754 C 12.10999965667725 9.15000057220459 12.31999969482422 9.190000534057617 12.51000022888184 9.270000457763672 C 12.71000003814697 9.360000610351562 12.89000034332275 9.480000495910645 13.03000068664551 9.630000114440918 C 13.17000102996826 9.779999732971191 13.28000068664551 9.960000038146973 13.3700008392334 10.15999984741211 C 13.46000099182129 10.35999965667725 13.50000095367432 10.57999992370605 13.51000118255615 10.80000019073486 L 15.30000114440918 10.80000019073486 C 15.28000068664551 10.32999992370605 15.19000148773193 9.90000057220459 15.02000141143799 9.510000228881836 C 14.85000133514404 9.119999885559082 14.62000179290771 8.780000686645508 14.32000160217285 8.5 C 14.02000141143799 8.219999313354492 13.66000175476074 8 13.2400016784668 7.840000152587891 C 12.82000160217285 7.680000305175781 12.36000156402588 7.610000133514404 11.85000133514404 7.610000133514404 C 11.20000171661377 7.610000133514404 10.63000106811523 7.720000267028809 10.15000152587891 7.950000286102295 C 9.670001983642578 8.180000305175781 9.270001411437988 8.480000495910645 8.95000171661377 8.869999885559082 C 8.630002021789551 9.25999927520752 8.39000129699707 9.710000038146973 8.240001678466797 10.22999954223633 C 8.090002059936523 10.74999904632568 8 11.28999996185303 8 11.86999988555908 L 8 12.14000034332275 C 8 12.72000026702881 8.079999923706055 13.26000022888184 8.229999542236328 13.78000068664551 C 8.379999160766602 14.30000114440918 8.619999885559082 14.75000095367432 8.939999580383301 15.13000106811523 C 9.25999927520752 15.51000118255615 9.659999847412109 15.82000064849854 10.13999938964844 16.04000091552734 C 10.61999893188477 16.26000022888184 11.1899995803833 16.38000106811523 11.83999919891357 16.38000106811523 C 12.30999946594238 16.38000106811523 12.74999904632568 16.30000114440918 13.15999889373779 16.15000152587891 C 13.5699987411499 16.00000190734863 13.92999839782715 15.79000186920166 14.23999881744385 15.52000141143799 C 14.54999923706055 15.25000095367432 14.79999923706055 14.94000148773193 14.97999858856201 14.58000183105469 C 15.15999794006348 14.22000217437744 15.26999855041504 13.84000205993652 15.27999877929688 13.43000221252441 L 13.48999881744385 13.43000221252441 C 13.47999858856201 13.64000225067139 13.42999839782715 13.83000183105469 13.33999919891357 14.01000213623047 C 13.25 14.19000244140625 13.1299991607666 14.34000205993652 12.97999954223633 14.47000217437744 C 12.82999992370605 14.60000228881836 12.65999984741211 14.70000171661377 12.45999908447266 14.7700023651123 C 12.26999950408936 14.84000205993652 12.0699987411499 14.8600025177002 11.85999870300293 14.87000274658203 C 11.49999904632568 14.8600025177002 11.19999885559082 14.79000282287598 10.96999835968018 14.6400032043457 C 10.71999835968018 14.48000335693359 10.51999855041504 14.27000331878662 10.37999820709229 14.02000331878662 C 10.23999786376953 13.77000331878662 10.12999820709229 13.47000312805176 10.07999801635742 13.1400032043457 C 10.02999782562256 12.81000328063965 9.999998092651367 12.47000312805176 9.999998092651367 12.1400032043457 L 9.999998092651367 11.87000274658203 C 9.999998092651367 11.5200023651123 10.02999782562256 11.19000244140625 10.07999801635742 10.8600025177002 Z M 12 2 C 6.480000019073486 2 2 6.480000019073486 2 12 C 2 17.52000045776367 6.480000019073486 22 12 22 C 17.52000045776367 22 22 17.52000045776367 22 12 C 22 6.479999542236328 17.52000045776367 2 12 2 Z M 12 20 C 7.590000152587891 20 4 16.40999984741211 4 12 C 4 7.590000152587891 7.590000152587891 4 12 4 C 16.40999984741211 4 20 7.590000152587891 20 12 C 20 16.40999984741211 16.40999984741211 20 12 20 Z">
									</path>
								</svg>
							</div>
							<div id="Group_78">
								<svg class="Path_60_br" viewBox="0 0 24 24">
									<path id="Path_60_br" d="M 0 0 L 24 0 L 24 24 L 0 24 L 0 0 Z">
									</path>
								</svg>
								<svg class="Path_61_bs" viewBox="2 2 20 20">
									<path id="Path_61_bs"
										d="M 10.07999992370605 10.85999965667725 C 10.13000011444092 10.52999973297119 10.23999977111816 10.23999977111816 10.38000011444092 9.989999771118164 C 10.52000045776367 9.739999771118164 10.72000026702881 9.529999732971191 10.97000026702881 9.369999885559082 C 11.21000003814697 9.220000267028809 11.51000022888184 9.149999618530273 11.88000011444092 9.140000343322754 C 12.10999965667725 9.15000057220459 12.31999969482422 9.190000534057617 12.51000022888184 9.270000457763672 C 12.71000003814697 9.360000610351562 12.89000034332275 9.480000495910645 13.03000068664551 9.630000114440918 C 13.17000102996826 9.779999732971191 13.28000068664551 9.960000038146973 13.3700008392334 10.15999984741211 C 13.46000099182129 10.35999965667725 13.50000095367432 10.57999992370605 13.51000118255615 10.80000019073486 L 15.30000114440918 10.80000019073486 C 15.28000068664551 10.32999992370605 15.19000148773193 9.90000057220459 15.02000141143799 9.510000228881836 C 14.85000133514404 9.119999885559082 14.62000179290771 8.780000686645508 14.32000160217285 8.5 C 14.02000141143799 8.219999313354492 13.66000175476074 8 13.2400016784668 7.840000152587891 C 12.82000160217285 7.680000305175781 12.36000156402588 7.610000133514404 11.85000133514404 7.610000133514404 C 11.20000171661377 7.610000133514404 10.63000106811523 7.720000267028809 10.15000152587891 7.950000286102295 C 9.670001983642578 8.180000305175781 9.270001411437988 8.480000495910645 8.95000171661377 8.869999885559082 C 8.630002021789551 9.25999927520752 8.39000129699707 9.710000038146973 8.240001678466797 10.22999954223633 C 8.090002059936523 10.74999904632568 8 11.28999996185303 8 11.86999988555908 L 8 12.14000034332275 C 8 12.72000026702881 8.079999923706055 13.26000022888184 8.229999542236328 13.78000068664551 C 8.379999160766602 14.30000114440918 8.619999885559082 14.75000095367432 8.939999580383301 15.13000106811523 C 9.25999927520752 15.51000118255615 9.659999847412109 15.82000064849854 10.13999938964844 16.04000091552734 C 10.61999893188477 16.26000022888184 11.1899995803833 16.38000106811523 11.83999919891357 16.38000106811523 C 12.30999946594238 16.38000106811523 12.74999904632568 16.30000114440918 13.15999889373779 16.15000152587891 C 13.5699987411499 16.00000190734863 13.92999839782715 15.79000186920166 14.23999881744385 15.52000141143799 C 14.54999923706055 15.25000095367432 14.79999923706055 14.94000148773193 14.97999858856201 14.58000183105469 C 15.15999794006348 14.22000217437744 15.26999855041504 13.84000205993652 15.27999877929688 13.43000221252441 L 13.48999881744385 13.43000221252441 C 13.47999858856201 13.64000225067139 13.42999839782715 13.83000183105469 13.33999919891357 14.01000213623047 C 13.25 14.19000244140625 13.1299991607666 14.34000205993652 12.97999954223633 14.47000217437744 C 12.82999992370605 14.60000228881836 12.65999984741211 14.70000171661377 12.45999908447266 14.7700023651123 C 12.26999950408936 14.84000205993652 12.0699987411499 14.8600025177002 11.85999870300293 14.87000274658203 C 11.49999904632568 14.8600025177002 11.19999885559082 14.79000282287598 10.96999835968018 14.6400032043457 C 10.71999835968018 14.48000335693359 10.51999855041504 14.27000331878662 10.37999820709229 14.02000331878662 C 10.23999786376953 13.77000331878662 10.12999820709229 13.47000312805176 10.07999801635742 13.1400032043457 C 10.02999782562256 12.81000328063965 9.999998092651367 12.47000312805176 9.999998092651367 12.1400032043457 L 9.999998092651367 11.87000274658203 C 9.999998092651367 11.5200023651123 10.02999782562256 11.19000244140625 10.07999801635742 10.8600025177002 Z M 12 2 C 6.480000019073486 2 2 6.480000019073486 2 12 C 2 17.52000045776367 6.480000019073486 22 12 22 C 17.52000045776367 22 22 17.52000045776367 22 12 C 22 6.479999542236328 17.52000045776367 2 12 2 Z M 12 20 C 7.590000152587891 20 4 16.40999984741211 4 12 C 4 7.590000152587891 7.590000152587891 4 12 4 C 16.40999984741211 4 20 7.590000152587891 20 12 C 20 16.40999984741211 16.40999984741211 20 12 20 Z">
									</path>
								</svg>
								<svg class="Path_74_bt" viewBox="2 2 20 20">
									<path id="Path_74_bt"
										d="M 10.07999992370605 10.85999965667725 C 10.13000011444092 10.52999973297119 10.23999977111816 10.23999977111816 10.38000011444092 9.989999771118164 C 10.52000045776367 9.739999771118164 10.72000026702881 9.529999732971191 10.97000026702881 9.369999885559082 C 11.21000003814697 9.220000267028809 11.51000022888184 9.149999618530273 11.88000011444092 9.140000343322754 C 12.10999965667725 9.15000057220459 12.31999969482422 9.190000534057617 12.51000022888184 9.270000457763672 C 12.71000003814697 9.360000610351562 12.89000034332275 9.480000495910645 13.03000068664551 9.630000114440918 C 13.17000102996826 9.779999732971191 13.28000068664551 9.960000038146973 13.3700008392334 10.15999984741211 C 13.46000099182129 10.35999965667725 13.50000095367432 10.57999992370605 13.51000118255615 10.80000019073486 L 15.30000114440918 10.80000019073486 C 15.28000068664551 10.32999992370605 15.19000148773193 9.90000057220459 15.02000141143799 9.510000228881836 C 14.85000133514404 9.119999885559082 14.62000179290771 8.780000686645508 14.32000160217285 8.5 C 14.02000141143799 8.219999313354492 13.66000175476074 8 13.2400016784668 7.840000152587891 C 12.82000160217285 7.680000305175781 12.36000156402588 7.610000133514404 11.85000133514404 7.610000133514404 C 11.20000171661377 7.610000133514404 10.63000106811523 7.720000267028809 10.15000152587891 7.950000286102295 C 9.670001983642578 8.180000305175781 9.270001411437988 8.480000495910645 8.95000171661377 8.869999885559082 C 8.630002021789551 9.25999927520752 8.39000129699707 9.710000038146973 8.240001678466797 10.22999954223633 C 8.090002059936523 10.74999904632568 8 11.28999996185303 8 11.86999988555908 L 8 12.14000034332275 C 8 12.72000026702881 8.079999923706055 13.26000022888184 8.229999542236328 13.78000068664551 C 8.379999160766602 14.30000114440918 8.619999885559082 14.75000095367432 8.939999580383301 15.13000106811523 C 9.25999927520752 15.51000118255615 9.659999847412109 15.82000064849854 10.13999938964844 16.04000091552734 C 10.61999893188477 16.26000022888184 11.1899995803833 16.38000106811523 11.83999919891357 16.38000106811523 C 12.30999946594238 16.38000106811523 12.74999904632568 16.30000114440918 13.15999889373779 16.15000152587891 C 13.5699987411499 16.00000190734863 13.92999839782715 15.79000186920166 14.23999881744385 15.52000141143799 C 14.54999923706055 15.25000095367432 14.79999923706055 14.94000148773193 14.97999858856201 14.58000183105469 C 15.15999794006348 14.22000217437744 15.26999855041504 13.84000205993652 15.27999877929688 13.43000221252441 L 13.48999881744385 13.43000221252441 C 13.47999858856201 13.64000225067139 13.42999839782715 13.83000183105469 13.33999919891357 14.01000213623047 C 13.25 14.19000244140625 13.1299991607666 14.34000205993652 12.97999954223633 14.47000217437744 C 12.82999992370605 14.60000228881836 12.65999984741211 14.70000171661377 12.45999908447266 14.7700023651123 C 12.26999950408936 14.84000205993652 12.0699987411499 14.8600025177002 11.85999870300293 14.87000274658203 C 11.49999904632568 14.8600025177002 11.19999885559082 14.79000282287598 10.96999835968018 14.6400032043457 C 10.71999835968018 14.48000335693359 10.51999855041504 14.27000331878662 10.37999820709229 14.02000331878662 C 10.23999786376953 13.77000331878662 10.12999820709229 13.47000312805176 10.07999801635742 13.1400032043457 C 10.02999782562256 12.81000328063965 9.999998092651367 12.47000312805176 9.999998092651367 12.1400032043457 L 9.999998092651367 11.87000274658203 C 9.999998092651367 11.5200023651123 10.02999782562256 11.19000244140625 10.07999801635742 10.8600025177002 Z M 12 2 C 6.480000019073486 2 2 6.480000019073486 2 12 C 2 17.52000045776367 6.480000019073486 22 12 22 C 17.52000045776367 22 22 17.52000045776367 22 12 C 22 6.479999542236328 17.52000045776367 2 12 2 Z M 12 20 C 7.590000152587891 20 4 16.40999984741211 4 12 C 4 7.590000152587891 7.590000152587891 4 12 4 C 16.40999984741211 4 20 7.590000152587891 20 12 C 20 16.40999984741211 16.40999984741211 20 12 20 Z">
									</path>
								</svg>
							</div>
						</div>
					</div>
					<div id="Group_114">
						<svg class="Path_136" viewBox="0 0 1840.176 873.603">
							<path id="Path_136"
								d="M 49.23548889160156 0 L 1790.940795898438 0 C 1818.1328125 0 1840.17626953125 21.67901420593262 1840.17626953125 48.42143630981445 L 1840.17626953125 825.1820068359375 C 1840.17626953125 851.9244384765625 1818.1328125 873.6034545898438 1790.940795898438 873.6034545898438 L 49.23548889160156 873.6034545898438 C 22.04347610473633 873.6034545898438 0 851.9244384765625 0 825.1820068359375 L 0 48.42143630981445 C 0 21.67901420593262 22.04347610473633 0 49.23548889160156 0 Z">
							</path>
						</svg>
						<div id="Group_112">
							<svg class="Path_132" viewBox="-0.209 -0.094 470.578 873.604">
								<path id="Path_132"
									d="M 42.24623870849609 -0.0937499925494194 L 424.5707397460938 0.0007835193537175655 C 435.8768005371094 0.0007835193537175655 470.3681640625 0.0007835193537175655 470.3681640625 0.0007835193537175655 C 470.3681640625 0.0007835193537175655 470.3681640625 14.95862865447998 470.3681640625 21.53567695617676 L 470.3681640625 851.9749145507812 C 470.3681640625 857.4458618164062 470.3681640625 873.509765625 470.3681640625 873.509765625 C 470.3681640625 873.509765625 438.2290649414062 873.509765625 424.5707397460938 873.509765625 L 45.78782272338867 873.509765625 C 33.79883193969727 873.509765625 20.3949089050293 867.7789916992188 12.02441883087158 858.2073364257812 C 3.072838544845581 847.9722900390625 -0.2094726413488388 833.51025390625 -0.2094726413488388 827.2543334960938 L -0.15822634100914 45.80897521972656 C -0.15822634100914 39.45790863037109 2.092767715454102 26.21415519714355 12.69388294219971 14.73847198486328 C 23.29499816894531 3.262789964675903 30.4595890045166 -0.0937499925494194 42.24623870849609 -0.0937499925494194 Z">
								</path>
							</svg>
							<div id="DASHBOARD">
								<span>DASHBOARD</span>
							</div>
							<svg class="Line_6" viewBox="0 0 393.368 1">
								<path id="Line_6" d="M 0 1 L 393.3681640625 0">
								</path>
							</svg>
							<div id="Get_Help">
								<span>Get Help</span>
							</div>
							<div id="Settings">
								<span>Settings</span>
							</div>
							<div id="Logout">
								<span>Logout</span>
							</div>
							<div id="Icon_core-account-logout">
								<svg class="Path_120" viewBox="1.118 10.009 13.28 11.755">
									<path id="Path_120"
										d="M 3.539963483810425 16.71392440795898 L 14.3974609375 16.71392440795898 L 14.3974609375 15.05941677093506 L 3.539963483810425 15.05941677093506 L 6.507562637329102 11.17904853820801 L 6.507562637329102 11.17899608612061 L 5.612850666046143 10.00919342041016 L 1.117898941040039 15.88664436340332 L 1.11793851852417 15.88669586181641 L 1.117898941040039 15.88669586181641 L 5.612850189208984 21.76419830322266 L 6.507561683654785 20.5943431854248 L 6.507561683654785 20.59429168701172 L 3.539963483810425 16.71392440795898 Z">
									</path>
								</svg>
								<svg class="Path_121" viewBox="11.25 1.125 9.914 21.994">
									<path id="Path_121"
										d="M 11.25 1.125 L 11.25 2.591259956359863 L 20.2198657989502 2.591259956359863 L 20.2198657989502 21.65263748168945 L 11.25 21.65263748168945 L 11.25 23.11889839172363 L 21.1640625 23.11889839172363 L 21.1640625 1.125 L 11.25 1.125 Z">
									</path>
								</svg>
							</div>
							<div id="Icon_feather-settings">
								<svg class="Path_122" viewBox="13.5 13.5 6.849 6.849">
									<path id="Path_122"
										d="M 20.34881019592285 16.92440414428711 C 20.34881019592285 18.81565093994141 18.81565093994141 20.34881019592285 16.92440414428711 20.34881019592285 C 15.03315925598145 20.34881019592285 13.5 18.81565093994141 13.5 16.92440414428711 C 13.5 15.03315925598145 15.03315925598145 13.5 16.92440414428711 13.5 C 18.81565093994141 13.5 20.34881019592285 15.03315925598145 20.34881019592285 16.92440414428711 Z">
									</path>
								</svg>
								<svg class="Path_123" viewBox="1.5 1.5 22.5 22.702">
									<path id="Path_123"
										d="M 20.31818199157715 15.94651126861572 C 20.03964614868164 16.58328247070312 20.17329788208008 17.32699394226074 20.65568351745605 17.82455825805664 L 20.7170467376709 17.88647270202637 C 21.10113716125488 18.27357482910156 21.31695175170898 18.79885482788086 21.31695175170898 19.34660148620605 C 21.31695175170898 19.89435005187988 21.10113716125488 20.41962814331055 20.71704864501953 20.80673027038574 C 20.33338737487793 21.19426155090332 19.81277275085449 21.41201019287109 19.26988983154297 21.41201019287109 C 18.72700881958008 21.41201019287109 18.20639419555664 21.19426155090332 17.82273101806641 20.80673027038574 L 17.7613639831543 20.74481582641602 C 17.26822280883789 20.25810623168945 16.53111839294434 20.12325668334961 15.90000247955322 20.40428733825684 C 15.2817964553833 20.67162322998047 14.87995910644531 21.28383255004883 14.87727355957031 21.96245002746582 L 14.87727355957031 22.13787269592285 C 14.87727355957031 23.27767181396484 13.96149444580078 24.20166015625 12.83181953430176 24.20166015625 C 11.70214653015137 24.20166015625 10.7863655090332 23.27767181396484 10.7863655090332 22.13787269592285 L 10.7863655090332 22.04500389099121 C 10.77016162872314 21.34607124328613 10.33214282989502 20.72816848754883 9.681818962097168 20.48684692382812 C 9.050704956054688 20.205810546875 8.313600540161133 20.34066009521484 7.820455551147461 20.82737159729004 L 7.759091377258301 20.88928413391113 C 7.375429153442383 21.27681541442871 6.854814529418945 21.49456596374512 6.31193208694458 21.49456596374512 C 5.769050121307373 21.49456596374512 5.248435497283936 21.27681541442871 4.864773750305176 20.88928413391113 C 4.480684280395508 20.50218391418457 4.264870166778564 19.97690391540527 4.264870166778564 19.42915725708008 C 4.264870166778564 18.88140869140625 4.480684280395508 18.35612869262695 4.864773273468018 17.96902656555176 L 4.926136493682861 17.9071102142334 C 5.40852165222168 17.40954780578613 5.542172431945801 16.66583824157715 5.263637065887451 16.02906608581543 C 4.998681545257568 15.40531635284424 4.391908168792725 14.99987888336182 3.719318628311157 14.99717235565186 L 3.545454263687134 14.99717140197754 C 2.415781259536743 14.99717140197754 1.50000011920929 14.07318305969238 1.50000011920929 12.93338394165039 C 1.50000011920929 11.7935848236084 2.415781736373901 10.86959648132324 3.545454740524292 10.86959648132324 L 3.637500286102295 10.86959648132324 C 4.33022403717041 10.85324764251709 4.942638874053955 10.41130256652832 5.18181848526001 9.75515079498291 C 5.460354804992676 9.118379592895508 5.326703548431396 8.374669075012207 4.84431791305542 7.877103805541992 L 4.782954692840576 7.815189838409424 C 4.398865699768066 7.428089141845703 4.183050632476807 6.902808666229248 4.183050632476807 6.355060577392578 C 4.183050632476807 5.80731201171875 4.398865222930908 5.282031536102295 4.782955169677734 4.894930362701416 C 5.166617393493652 4.50739860534668 5.687231540679932 4.289649486541748 6.230114459991455 4.289649486541748 C 6.772995948791504 4.289649486541748 7.293610572814941 4.50739860534668 7.677272796630859 4.894930362701416 L 7.73863697052002 4.956843852996826 C 8.231781959533691 5.443552494049072 8.96888542175293 5.5784010887146 9.59999942779541 5.29736852645874 L 9.681818008422852 5.29736852645874 C 10.30002784729004 5.030038356781006 10.70186424255371 4.417827129364014 10.70454597473145 3.739209413528442 L 10.70454597473145 3.563786745071411 C 10.70454597473145 2.423988819122314 11.62032699584961 1.499999523162842 12.75 1.5 C 13.87967395782471 1.5 14.79545307159424 2.423988819122314 14.79545307159424 3.563786745071411 L 14.79545307159424 3.656657695770264 C 14.79813671112061 4.335275650024414 15.19997406005859 4.947486400604248 15.81818389892578 5.214817523956299 C 16.44929885864258 5.495850563049316 17.1864013671875 5.361001491546631 17.67954635620117 4.874292850494385 L 17.74090957641602 4.812378883361816 C 18.12457466125488 4.424848079681396 18.64518737792969 4.207098960876465 19.18806838989258 4.207098960876465 C 19.7309513092041 4.207098960876465 20.25156593322754 4.424848079681396 20.63522720336914 4.812378883361816 C 21.01931762695312 5.199480533599854 21.23513031005859 5.724761009216309 21.23513031005859 6.27250862121582 C 21.23513031005859 6.82025671005249 21.01931762695312 7.345537185668945 20.63522720336914 7.732638835906982 L 20.57386207580566 7.794552803039551 C 20.09147644042969 8.292117118835449 19.95782661437988 9.03582763671875 20.23636054992676 9.672598838806152 L 20.23636054992676 9.755149841308594 C 20.50131988525391 10.37889957427979 21.10809135437012 10.78433704376221 21.78067970275879 10.78704357147217 L 21.95454597473145 10.78704357147217 C 23.08421897888184 10.78704357147217 24 11.71103191375732 24 12.850830078125 C 24 13.99062824249268 23.08421897888184 14.91461658477783 21.95454597473145 14.91461658477783 L 21.86250114440918 14.91461658477783 C 21.18991279602051 14.91732597351074 20.5831413269043 15.32276344299316 20.31818580627441 15.94651317596436 Z">
									</path>
								</svg>
							</div>
							<svg class="Icon_material-help-outline" viewBox="3 3 24.822 24.817">
								<path id="Icon_material-help-outline"
									d="M 14.17002010345459 22.85341644287109 L 16.65224456787109 22.85341644287109 L 16.65224456787109 20.37174034118652 L 14.17002010345459 20.37174034118652 L 14.17002010345459 22.85341644287109 Z M 15.4111328125 3 C 8.560188293457031 3 3 8.558958053588867 3 15.40838623046875 C 3 22.2578125 8.560187339782715 27.8167724609375 15.4111328125 27.8167724609375 C 22.26207733154297 27.8167724609375 27.822265625 22.25781440734863 27.822265625 15.40838623046875 C 27.822265625 8.558957099914551 22.26207733154297 3 15.4111328125 3 Z M 15.4111328125 25.3350944519043 C 9.937823295593262 25.3350944519043 5.482226848602295 20.88048362731934 5.482226848602295 15.40838623046875 C 5.482226848602295 9.936287879943848 9.937823295593262 5.481677532196045 15.4111328125 5.481677532196045 C 20.88444137573242 5.481677532196045 25.34003829956055 9.936287879943848 25.34003829956055 15.40838623046875 C 25.34003829956055 17.93649482727051 24.38901901245117 20.24742889404297 22.62099647521973 22.22550010681152 C 21.0058422088623 24.04573440551758 18.35577201843262 25.3350944519043 15.4111328125 25.3350944519043 Z M 15.4111328125 7.963354110717773 C 12.66827201843262 7.963354110717773 10.44668006896973 10.18445491790771 10.44668006896973 12.92670917510986 L 12.92890644073486 12.92670917510986 C 12.92890644073486 11.56178760528564 14.04590892791748 10.44503211975098 15.4111328125 10.44503211975098 C 16.7763557434082 10.44503211975098 17.89335823059082 11.56178760528564 17.89335823059082 12.92670917510986 C 17.89335823059082 15.40838623046875 14.17002010345459 15.09817695617676 14.17002010345459 19.13090133666992 L 16.65224456787109 19.13090133666992 C 16.65224456787109 16.33901405334473 20.37558555603027 16.02880477905273 20.37558555603027 12.92670917510986 C 20.37558555603027 10.18445491790771 18.15399360656738 7.963354110717773 15.4111328125 7.963354110717773 Z">
								</path>
							</svg>
						</div>
						<svg class="Rectangle_102">
							<rect id="Rectangle_102" rx="50" ry="50" x="0" y="0" width="1840.176" height="573">
							</rect>
						</svg>
						<div id="Patients">
							<a href="/hospitalDashboard/reports" style=" color:  rgba(90, 92, 137, 1);">
								<span>Reports</span>
							</a>
						</div>
						<svg class="add-icon" viewBox="5.625 5.625 18.75 18.75" onclick="showModal()">
							<path id="add-icon"
								d="M 24.375 16.24998092651367 L 16.24998092651367 16.24998092651367 L 16.24998092651367 24.375 L 13.75002002716064 24.375 L 13.75002002716064 16.24998092651367 L 5.625 16.24998092651367 L 5.625 13.75002002716064 L 13.75001907348633 13.75002002716064 L 13.75001907348633 5.625 L 16.24998092651367 5.625 L 16.24998092651367 13.75001907348633 L 24.375 13.75001907348633 L 24.375 16.24998092651367 Z">
							</path>
						</svg>
					</div>
					<div id="Register_Patient__">
						<span>Register Patient<br /></span><br />
					</div>
					<svg class="Line_7" viewBox="0 0 2 502">
						<path id="Line_7" d="M 0 0 L 0 502">
						</path>
					</svg>
					<div id="To_begin_you_can_search_for_re">
						<span>To begin you can search for, register a patient</span>
					</div>
					<div id="Welcome_Clinic_Name___">
						<span>Welcome <%= hospital.Name %> </span><br />
					</div>
					<img class="patient-picture" id="Ellipse_26"
						src="/images/patient/<%= patientData[0]?.patient?.Picture || 'Image_1.png' %>">
					<img class="patient-picture" id="Ellipse_26_cz"
						src="/images/patient/<%= patientData[1]?.patient?.Picture || 'Image_1.png' %>">
					<img class="patient-picture" id="Ellipse_26_c"
						src="/images/patient/<%= patientData[2]?.patient?.Picture || 'Image_1.png' %>">
					<div id="Patients_registered">
						<span> <%= patientData.length %> Patients registered</span>
					</div>
					<div id="Group_116">
						<svg class="Rectangle_103">
							<rect id="Rectangle_103" rx="23.072433471679688" ry="23.072433471679688" x="0" y="0"
								width="242.385" height="46.145">
							</rect>
						</svg>
						<a href="/patientRegistration">
							<div id="Register_Patient">
								<span>Register Patient</span>
							</div>
						</a>
					</div>
					<svg class="Rectangle_108">
						<rect id="Rectangle_108" rx="23" ry="23" x="0" y="0" width="398" height="46">
						</rect>
					</svg>
					<div id="Group_115">
						<svg class="Path_129" viewBox="0 0 6.45 48.34">
							<path id="Path_129"
								d="M 0 0 L 6.4501953125 0 L 6.4501953125 48.339599609375 L 0 48.339599609375 L 0 0 Z">
							</path>
						</svg>
						<svg class="Path_130" viewBox="2.999 2.999 30.176 26.695">
							<path id="Path_130"
								d="M 27.24531364440918 21.8620662689209 L 25.71304702758789 21.8620662689209 L 25.16996765136719 21.39909934997559 C 27.49746131896973 18.9985294342041 28.69999504089355 15.72346782684326 28.04054260253906 12.24263858795166 C 27.12893867492676 7.475794792175293 22.62911796569824 3.669176340103149 17.19829940795898 3.086180448532104 C 8.993882179260254 2.19454026222229 2.088984966278076 8.298846244812012 3.0975661277771 15.55199718475342 C 3.757022380828857 20.3531379699707 8.062885284423828 24.33122444152832 13.45491218566895 25.13713264465332 C 17.39225578308105 25.72012329101562 21.09685134887695 24.65701866149902 23.8122615814209 22.59938621520996 L 24.33594703674316 23.07949829101562 L 24.33594703674316 24.43410682678223 L 30.7841796875 29.16665458679199 C 31.57940673828125 29.86967277526855 31.78392028808594 29.86967468261719 32.57915115356445 29.16665458679199 C 33.37437438964844 28.4636287689209 33.37437438964844 27.41518402099609 32.57915115356445 26.712158203125 L 27.24531364440918 21.8620662689209 Z M 15.6078462600708 21.8620662689209 C 10.77829456329346 21.8620662689209 6.879743099212646 18.41553497314453 6.879743099212646 14.14595031738281 C 6.879743099212646 9.876363754272461 10.77829456329346 6.429832935333252 15.6078462600708 6.429832935333252 C 20.4373950958252 6.429832935333252 24.33594703674316 9.876363754272461 24.33594703674316 14.14595031738281 C 24.33594703674316 18.41553497314453 20.4373950958252 21.8620662689209 15.6078462600708 21.8620662689209 Z">
							</path>
						</svg>
					</div>

					<div class="Rectangle_85">

						<ul class="item-list">
							<% for (let i = 0; i < reports.length; i++) { %>
							<li class="item">
								<p class="time"><%= reports[i].Last_Updated_Time.toLocaleString()%></p>
								<p class="from"> Patient name</p>
								<p class="hospital-name"><%= reports[i].Patient_Id.Name %></p>
								<p class="file-name"><%= reports[i].Name %> |
									<%= reports[i].Category %></p>
							</li>
							<% } %>
						</ul>

					</div>
					<div id="Group_136">
						<div id="Component_2__1" class="Component_2___1">
							<div id="Group_134">
								<div id="Repeat_Grid_7">
									<div id="Group_c" class="">
										<svg class="Path_135" viewBox="0 0 283.344 59.051">
											<path id="Path_135"
												d="M 34.00130844116211 0 L 249.3429412841797 0 C 268.121337890625 0 283.34423828125 13.21907615661621 283.34423828125 29.525634765625 C 283.34423828125 45.83219146728516 268.121337890625 59.05126953125 249.3429412841797 59.05126953125 L 34.00130844116211 59.05126953125 C 15.22290420532227 59.05126953125 0 45.83219146728516 0 29.525634765625 C 0 13.21907615661621 15.22290420532227 0 34.00130844116211 0 Z">
											</path>
										</svg>
										<div id="Inbox">
											<span>Inbox</span>
										</div>
									</div>
									<div id="Group_da" class="">
										<a href="/hospitalDashboard/patients" style=" color:  rgba(90, 92, 137, 1);">
											<svg class="Path_135_c" viewBox="0 0 283.344 59.051">
												<path id="Path_135_c"
													d="M 34.00130844116211 0 L 249.3429412841797 0 C 268.121337890625 0 283.34423828125 13.21907615661621 283.34423828125 29.525634765625 C 283.34423828125 45.83219146728516 268.121337890625 59.05126953125 249.3429412841797 59.05126953125 L 34.00130844116211 59.05126953125 C 15.22290420532227 59.05126953125 0 45.83219146728516 0 29.525634765625 C 0 13.21907615661621 15.22290420532227 0 34.00130844116211 0 Z">
												</path>
											</svg>
											<div id="Patients_dj">
												<span>Patients</span>
											</div>
										</a>
									</div>
									<div id="Group_db" class="">
										<a href="/hospitalDashboard/appointments"
											style=" color:  rgba(90, 92, 137, 1);">
											<svg class="Path_135_da" viewBox="0 0 283.344 59.051">
												<path id="Path_135_da"
													d="M 34.00130844116211 0 L 249.3429412841797 0 C 268.121337890625 0 283.34423828125 13.21907615661621 283.34423828125 29.525634765625 C 283.34423828125 45.83219146728516 268.121337890625 59.05126953125 249.3429412841797 59.05126953125 L 34.00130844116211 59.05126953125 C 15.22290420532227 59.05126953125 0 45.83219146728516 0 29.525634765625 C 0 13.21907615661621 15.22290420532227 0 34.00130844116211 0 Z">
												</path>
											</svg>
											<div id="Appointments">
												<span>Appointments</span>
											</div>
										</a>
									</div>
									<div id="Group_dc" class="">
										<a href="/hospitalDashboard/codes" style=" color:  rgba(90, 92, 137, 1);">
											<svg class="Path_135_dc" viewBox="0 0 283.344 59.051">
												<path id="Path_135_dc"
													d="M 34.00130844116211 0 L 249.3429412841797 0 C 268.121337890625 0 283.34423828125 13.21907615661621 283.34423828125 29.525634765625 C 283.34423828125 45.83219146728516 268.121337890625 59.05126953125 249.3429412841797 59.05126953125 L 34.00130844116211 59.05126953125 C 15.22290420532227 59.05126953125 0 45.83219146728516 0 29.525634765625 C 0 13.21907615661621 15.22290420532227 0 34.00130844116211 0 Z">
												</path>
											</svg>
											<div id="Codes">
												<span>Codes</span>
											</div>
										</a>
									</div>
									<div id="Group_dd" class="">
										<a href="/hospitalDashboard/prescriptions"
											style=" color:  rgba(90, 92, 137, 1);">
											<svg class="Path_135_de" viewBox="0 0 283.344 59.051">
												<path id="Path_135_de"
													d="M 34.00130844116211 0 L 249.3429412841797 0 C 268.121337890625 0 283.34423828125 13.21907615661621 283.34423828125 29.525634765625 C 283.34423828125 45.83219146728516 268.121337890625 59.05126953125 249.3429412841797 59.05126953125 L 34.00130844116211 59.05126953125 C 15.22290420532227 59.05126953125 0 45.83219146728516 0 29.525634765625 C 0 13.21907615661621 15.22290420532227 0 34.00130844116211 0 Z">
												</path>
											</svg>
											<div id="Prescriptions">
												<span>Prescriptions</span>
											</div>
										</a>
									</div>
									<div id="Group_df" class="">
										<a href="/hospitalDashboard/reports" style=" color:  rgba(90, 92, 137, 1);">
											<svg class="Path_135_dg" viewBox="0 0 283.344 59.051">
												<path id="Path_135_dg"
													d="M 34.00130844116211 0 L 249.3429412841797 0 C 268.121337890625 0 283.34423828125 13.21907615661621 283.34423828125 29.525634765625 C 283.34423828125 45.83219146728516 268.121337890625 59.05126953125 249.3429412841797 59.05126953125 L 34.00130844116211 59.05126953125 C 15.22290420532227 59.05126953125 0 45.83219146728516 0 29.525634765625 C 0 13.21907615661621 15.22290420532227 0 34.00130844116211 0 Z">
												</path>
											</svg>
											<div id="Reports">
												<span>Reports</span>
											</div>
										</a>
									</div>
									<div id="Group_dh" class="">
										<a href="/hospitalDashboard/Bills" style=" color:  rgba(90, 92, 137, 1);">
											<svg class="Path_135_di" viewBox="0 0 283.344 59.051">
												<path id="Path_135_di"
													d="M 34.00130844116211 0 L 249.3429412841797 0 C 268.121337890625 0 283.34423828125 13.21907615661621 283.34423828125 29.525634765625 C 283.34423828125 45.83219146728516 268.121337890625 59.05126953125 249.3429412841797 59.05126953125 L 34.00130844116211 59.05126953125 C 15.22290420532227 59.05126953125 0 45.83219146728516 0 29.525634765625 C 0 13.21907615661621 15.22290420532227 0 34.00130844116211 0 Z">
												</path>
											</svg>
											<div id="Bills">
												<span>Bills</span>
											</div>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="NewPatientModel">
			<div id="background-blur">
			</div>
			<div id="Modal-Edit">
			</div>
			<div id="Modal-Content">
				<button class="cross-button" onclick="closeModal()">
					<svg class="cross" viewBox="5 5 18.318 19.806">
						<path id="cross" d="M 23.318359375 24.8056640625 L 5 5 M 23.318359375 5 L 5 24.8056640625">
						</path>
					</svg>
				</button>
				<div class="dropdown">
					<input class="Rectangle_112" type="text" placeholder="Search Medivault Id/ Patient Name">
					<div class="dropdown-content">
						<% patients.forEach(patient => { %>
						<div onclick="selectPatient(this)" data-patient-id="<%= patient.Medivault_Id %>">
							<%= patient.Medivault_Id %> : <%= patient.Name %>
						</div>
						<% }); %>
					</div>
				</div>
				<input type="file" id="uploadFile" class="Rectangle_111">
				<div id="Submit-button">
					<svg class="Rectangle_125">
						<rect id="Rectangle_125" rx="47.5" ry="47.5" x="0" y="0" width="200" height="80">
						</rect>
					</svg>
					<div id="Update">
						<span>Upload</span>
					</div>
				</div>

				<div id="Patient_Demographics">
					<span>Add New Report</span>
				</div>
				<div id="Edit_Patient_Record">
					<span>Search Patient:</span>
				</div>
				<div id="Edit_Patient_Record_1">
					<span>Upload Report:</span>
				</div>
			</div>
		</div>
		<script>
			var modal = document.getElementById("NewPatientModel");
			function showModal() {
				modal.style.display = "block";
			}

			function closeModal() {
				modal.style.display = "none";
				// hospitalCodeModal.style.display = "none";
				location.reload();
			}

			const input = document.querySelector('.dropdown input');
			const options = document.querySelectorAll('.dropdown-content div');

			input.addEventListener('input', function () {
				const searchTerm = input.value.toLowerCase();
				options.forEach(option => {
					const text = option.textContent.toLowerCase();
					if (text.includes(searchTerm)) {
						option.style.display = 'block';
					} else {
						option.style.display = 'none';
					}
				});
			});

			function selectPatient(selectedItem) {
				// Remove 'selected' class from previously selected patient
				var previouslySelected = document.querySelector('.dropdown-content .selected');
				if (previouslySelected) {
					previouslySelected.classList.remove('selected');
				}

				// Mark the currently selected patient
				selectedItem.classList.add('selected');

				var selectedText = selectedItem.innerText;
				var inputField = document.querySelector('.Rectangle_112');
				inputField.value = selectedText;
			}

			document.getElementById("Submit-button").addEventListener("click", function () {
				var fileInput = document.getElementById("uploadFile");
				var file = fileInput.files[0];

				var selectedPatient = document.querySelector(".dropdown-content .selected");
				console.log("selectedPatient", selectedPatient);
				var patientId = selectedPatient.getAttribute("data-patient-id");

				// Create a FormData object to send the file and patient ID
				var formData = new FormData();
				formData.append("file", file);
				formData.append("MedivaultId", patientId);

				// Send the POST request
				fetch("/uploadReport", {
					method: "POST",
					body: formData
				})
					.then(response => {
						// Handle response
						console.log("Response received:", response);
						alert('File uploaded successfully!');
						window.location.reload();
					})
					.catch(error => {
						// Handle errors
						console.error("Error:", error);
					});
			});

		</script>
</body>

</html>